API_ID=28901727
API_HASH=7cf3e0d4f3295b8c8f08249d5b0a73dc
BOT_TOKEN=6466532072:AAEo4BuWP31gSiBb7zwltmAJJQS767NZ2lMs
MONGO_DB_URI=mongodb+srv://abc:abc@music.dlua0.mongodb.net/Winx?retryWrites=true&w=majority# get this value from mongodb.com
LOG_GROUP_ID=-1001234567890# get this value from in your log group
MUSIC_BOT_NAME=Winx# your music bot name
STRING_SESSION=pyrogram_string_session# get this value from @Winxstringbot
